@using MyNeighborhood.Core.Models
@model UserRolesViewModel
@{
    ViewData["Title"] = "User Roles";
}

<div class="row">
    <div class="col-4">
        <form id="roles" method="post">
            <input type="hidden" name="Id" value="@Model.UserId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <h3>User: @Html.DisplayFor(m => m.Name)</h3>
            </div>
            <div class="form-floating">
                <div class="form-group">
                    <label>User Roles</label>
                    <select asp-for="RoleIds" multiple="" class="form-control">
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.RoleItems)
                        {
                            <option value ="@item.Value" selected="@(item.Selected ? "selected" : "")">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

